<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to Frooday.come,<%= @merchant.Name %>
<p> An e-mail with your login details will be sent to you shortly.
</p>
<p>
Thanking You,
Frooday Admin
</p>
</body>
</html>


